

a{ 
    color: red;
}

#paragrafo1 {
    color:green;
    font-weight: bold;
}

div{
    height: 10px;
    color: black;
}

.negrito {
    font-weight: bold;
}

p + a{
    font-weight: bold;
    color: black;
}

.teste1 {
    font-size: 20px;
    color: yellow;
    margin: 10px;
    padding: 20px;
    border: 5px solid #000;
}

#teste2 {
    font-size: 40px;
    color: aqua;
    margin: 10px;
    padding: 20px;
    border: 5px solid #000;
}

.block {
    display: block;
    border: 5px solid black;
    margin: 20px;
    padding: 20px;
}

.in-line {
    display: inline;
    border: 5px solid brown;
    margin: 20px;
    padding: 20px;
}