p{
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
}

a{ 
    color: red;
}

#paragrafo1 {
    color:green;
    font-weight: bold;
}

div{
    height: 10px;
    color: black;
}

.negrito {
    font-weight: bold;
}

p + a{
    font-weight: bold;
    color: black;
}

.teste1 {
    font-size: 20px;
    color: yellow;
}

#teste2 {
    font-size: 40px;
    color: aqua;
}